<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
    <meta charset="UTF-8"/>
    <head>
        <title>Lista telefonica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="lib/materialkit/css/material-kit.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <style>
            .jumbotron{
                width: 700px;
                margin: 0 auto;
                margin-top: 30px;
            }
            h3{
                text-align: center;
            }
            .selecionado{
                background: lightyellow;
            }
            .negrito{
                font-weight: bold;
            }
        </style>
        <script src="lib/angular/angular.min.js"></script>
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
                $scope.app = "lista Telefonica";
                $scope.contatos = [
                    {nome: "Pedro", telefone: "99998888", data: new Date(), operadora: "Oi", cor: "blue"},
                    {nome: "Ana", telefone: "88412555", data: new Date(), operadora: "Vivo", cor: "yellow"},
                    {nome: "Maria", telefone: "121354458", data: new Date(), operadora: "Tim", cor: "red"}
                ];
                $scope.operadoras = [
                    {nome: "Oi", codigo: 14},
                    {nome: "Vivo", codigo: 15},
                    {nome: "Claro", codigo: 15},
                    {nome: "Tim", codigo: 16}
                ];
                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy (contato));
                    delete $scope.contato;
                };

                $scope.apagarContatos = function (contatos){
                   $scope.contatos = contatos.filter(function (contato){
                        if (!contato.selecionado) return contato;
                    });
                
                };
                $scope.isContatoSelecionado = function (contatos) {
                    return contatos.some(function (contato){
                        return contato.selecionado;
                    });
        
                };
                $scope.ordenarPor = function (campo){
                    $scope.criterioDeOrdenacao = campo;
                    $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
                };
               
       
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        
        <div class="jumbotron">
            <h3>{{ app }}</h3>
            <input type="search" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está procurando?"/>
            <table class="table">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>operadora</th>
                    <th></th>
                </tr>
                <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td>
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" name="optionsCheckboxes" ng-model="contato.selecionado">
                        </label>
                    </div>
                    </td>
                    <td>{{contato.nome|uppercase}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora|lowercase}}</td>
                    <td>{{contato.operadora.nome|lowercase}}</td>
                    <td>{{contato.data|date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr>
            É valido: {{contatoForm.$valid}}<br/>
            É invalido: {{contatoForm.$invalid}}
            <form name="contatoForm">
                <div class="form-group label-floating">
                    <label class="control-label">Nome</label>
                    <input type="text" class="form-control" ng-model="contato.nome"  ng-required="true" name="nome" ng-minlength="10"/>
                </div>

                <div class="form-group label-floating">
                    <label class="control-label">Telefone</label>
                    <input  type="text" class="form-control" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
                </div>
                
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras"><option value="">Selecionar uma operadora</option>
                </select>
            </form>

            
             <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                Por favor, preenha seu nome.
            </div>
            <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-warning">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
            <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor, preenha o telefone.
            </div>
            <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                Por favor, preenha o telefone.
            </div>
            <button ng-disabled="contatoForm.$invalid " ng-click="adicionarContato(contato)" class="btn btn-primary btn-block btn-round">
                <i class="material-icons">favorite</i> Adicionar contato
            </button> 
            <button ng-disabled="!isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)" class="btn btn-danger btn-block btn-round">
                <i class="material-icons">delete</i> Apagar contatos
            </button> 

            <div ng-include="'modules/footer.html'"></div>
        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/tether/tether.min.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/materialkit/js/bootstrap-datepicker.js"></script>
        <script src="lib/materialkit/js/material.min.js"></script>
        <script src="lib/materialkit/js/material-kit.js"></script>
        <script src="lib/materialkit/js/nouislider.min.js"></script>
    </body>
</html>